<html>
    <head>
        <title>Koshka's first blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Koshka's first blog</a></h1>
        </div>

        <div>
            <p>published: 12.03.2018, 14:53</p>
            <h2><a href="">The Senses and the Multi-Sensory</a></h2>
            <p>For far too long we have laboured under a faulty conception of the senses. Ask anyone you know how many senses we...</p>
        </div>

        <div>
            <p>published: 12.03.2018, 14:53</p>
            <h2><a href="">Ecology</a></h2>
            <p>That idea, or bundle of ideas, seems to me the most important revolution in general thinking in the last 150 years. It has given...</p>
        </div>
    </body>
</html>
